* {
    box-sizing: border-box;
}

body{
    background-color: mediumspringgreen;
}

ul{background-color: aquamarine;}
.bal{
    color:white;
    border:1px solid white;
    padding:5px;
}
.jobb{
    border:1px solid white;
    color:white;
    padding:5px;
}
.kozep{

    display:flex;
    padding: 0 4px;
    border:1px solid white;
}
nav{
    padding:5px;


}
nav ul{
    display:flex;
    padding:10px;
    text-align: left;
}

nav ul li{

    
    list-style-type: none;
    width:15%;
}
nav a{
    text-decoration: none;
    color:goldenrod;
}

main{
    width: 80%;
    margin:auto;


}

.kepeim{

    width:33.3%;
    vertical-align: middle;

}
article img{

    width:100%;

}
article{
    display:flex;
    margin:5px;

}
footer{
    text-align: center;
    background-color: darkcyan;
    color:white;
    padding:10px
}
.formelemek{
     width: 100%;
     padding:5px;
     margin:5px;
     
}
input[type=text] {
  width: 100%;

}
input[type=text]:focus{
    background-color: lightblue;
    
}
form{
    padding:10px;
}
